{{ define "main" }}
<div>
  <div class="mb-4">
    <div class="flex items-center">
      <h1>{{ .Title }}</h1>
      {{ if ne .File.Dir "projects/" }}
        {{ with .Params.repository }}
        <div class="mx-4 flex">
          <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="w-6 h-6 text-primary">
            {{ partial "icons/github" . }}
          </a>
        </div>
        {{ end }}
      {{ end }}
    </div>
    {{ if ne .File.Dir "projects/" }}
      {{ with .Params.image }}
      <div class="my-4">
        <img src="/images/{{ . }}" alt="{{ $.Title }}" class="w-full rounded-lg">
      </div>
      {{ end }}
    {{ end }}
    {{ .Content }}
  </div>

  <div class="divider"></div>

  {{ if eq .File.Dir "projects/" }}
    {{ partial "projects_list" . }}
  {{ else }}
    {{ partial "project_detail" . }}
  {{ end }}
</div>
{{ end }}
