{{ $recentPosts := first 5 . }}

{{ range $recentPosts }}
<div class="my-4 border-b-1 border-base-100">
  <article>
    <div>
      <div class="flex gap-4">
        <h2 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </div>
      <p>{{ .Summary }}</p>
    </div>
  </article>
</div>
{{ end }}

{{ if eq (len $recentPosts) 0 }}
<div class="my-4">
  <article class="my-4 border-b-1 border-base-100">
    <div>
      <p>No recent posts</p>
    </div>
  </article>
</div>
{{ end }}
